* {
  box-sizing: border-box;
}

body {
margin: 0;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}
#logo{
  float: left;
 height: 70px;
 padding : 5px;
 margin-left: 10px;
}

/* Style the topnav links */
.topnav a {
  float: right;
  /* display: block; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  
  padding: 5px;
 
}
/* style breadcrumbs */
.content.container{
width: 100%;
}
ul.breadcrumbs{
background-color: rgba(255, 255, 255, 0);
}

/* Style the footer */
.footer {
  
  padding: 10px;
  float: right;  
}
.pagination.pagination{
  border-color: white ;
  margin-right: 20px;
}
li a.active{
  background-color: rgb(231, 219, 219);
}
.topnav #active {
  
  background-color: rgb(231, 219, 219);
  color: black;
}
