
body{
    background-color: rgb(188, 141, 231);
    margin: 0;
    
    
}
#logo-h{
    color: rgba(0, 0, 0, 0.753);
    margin-bottom: 0;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.breadcrumb-item{
  float: right;
}
 .topnav {
    overflow: hidden;
    margin-bottom: 0;
    padding: 10px 5px;
    background-color: rgb(236, 45, 243);
  }
 
 