#name{
    width:  30%;
}

.col-sm-9{
  float: right;
}
.row{
  margin-bottom: 20px;
  margin-left: 7px;
}
.showmsg{
    border-color:  rgb(231, 219, 219);
    border-style: solid;
    height: 500px;
   
}
#message{
    width: 80%;
}